* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  /* width: 65%;
  background-color: #2f1d58;
  height: 80vh; */
  overflow: auto;
  flex-direction: row;
}
/* .flex-container div {
  width: 365px;
  height: 439px;
  margin: 25px;
   background-color: rgba(15, 15, 15, 0.692); 
} 
*/
.flex-container div {
  height: 100vh;
  flex-wrap: nowrap;
}
.left-side {
  display: flex;
  flex-wrap: nowrap;
  flex: 2;
  background-color: black;
}
.right-side {
  flex: 4;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.514);
}
/* .left-side div {
  width: 100%;
  height: 100%;
} */
.left-side img {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}
.rightside-parent {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
  flex-direction: column;

  /* flex-direction: row; */
  margin: 10%;
  padding: 10%;
}

.rightside-parent h2 {
  border: 1px solid white;
  padding: 10px 15px;
}
.btn:hover {
  transform: translateY(-3px);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.87);
  /* border: 3px red; */
}
